@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/ABCDiatype-BlackItalic.woff2') format('woff2'),
    url('/assets/ABCDiatype-BlackItalic.woff') format('woff');
    font-weight: 950;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/ABCDiatype-BoldItalic.woff2') format('woff2'),
    url('/assets/ABCDiatype-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/ABCDiatype-Black.woff2') format('woff2'),
    url('/assets/ABCDiatype-Black.woff') format('woff');
    font-weight: 950;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/ABCDiatype-HeavyItalic.woff2') format('woff2'),
    url('/assets/ABCDiatype-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/ABCDiatype-Heavy.woff2') format('woff2'),
    url('/assets/ABCDiatype-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/ABCDiatype-Bold.woff2') format('woff2'),
    url('/assets/ABCDiatype-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/ABCDiatype-MediumItalic.woff2') format('woff2'),
    url('/assets/ABCDiatype-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype Plus Variable';
    src: url('/assets/ABCDiatypePlusVariable.woff2') format('woff2'),
    url('/assets/ABCDiatypePlusVariable.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/ABCDiatype-Medium.woff2') format('woff2'),
    url('/assets/ABCDiatype-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/ABCDiatype-ThinItalic.woff2') format('woff2'),
    url('/assets/ABCDiatype-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/ABCDiatype-LightItalic.woff2') format('woff2'),
    url('/assets/ABCDiatype-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/ABCDiatype-Thin.woff2') format('woff2'),
    url('/assets/ABCDiatype-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/ABCDiatype-Ultra.woff2') format('woff2'),
    url('/assets/ABCDiatype-Ultra.woff') format('woff');
    font-weight: 1000;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/ABCDiatype-Regular.woff2') format('woff2'),
    url('/assets/ABCDiatype-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/ABCDiatype-UltraItalic.woff2') format('woff2'),
    url('/assets/ABCDiatype-UltraItalic.woff') format('woff');
    font-weight: 1000;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/ABCDiatype-RegularItalic.woff2') format('woff2'),
    url('/assets/ABCDiatype-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/ABCDiatype-Light.woff2') format('woff2'),
    url('/assets/ABCDiatype-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'ABC Diatype Plus Variable', sans-serif;
    font-weight: normal;
    position: relative;
    background: black;
    /*background-image: url("assets/image.png");*/
    /*background-position: 100px 800px;*/
    color: white;
}